<configuration xmlns="urn:newrelic-config"
  agentEnabled="true"
  maxStackTraceLines="50"
  timingPrecision="high">
		<service licenseKey="e460f3f12af80b226fc929b901dc706ca981f8f8"
	  ssl="false"
	  sendEnvironmentInfo="true"
	  syncStartup="false"
	  sendDataOnExit="false"
	  sendDataOnExitThreshold="60000">
		</service>
		<log level="info"
	  auditLog="true"
	  console="true"
	  directory="c:\temp"
	  fileName="newrelic.log" />
	<application>
		<name>TestWebApiDotNet</name>
	</application>
	<crossApplicationTracer enabled="true"/>
	<errorCollector enabled="true">
		<ignoreErrors>
			<exception>System.IO.FileNotFoundException</exception>
			<exception>System.Threading.ThreadAbortException</exception>
		</ignoreErrors>
		<ignoreStatusCodes>
			<code>401</code>
			<code>404</code>
		</ignoreStatusCodes>
		<attributes enabled="true">
			<exclude>myApiKey.*</exclude>
			<include>myApiKey.foo</include>
		</attributes>
	</errorCollector>
	<transactionEvents enabled="true"
  maximumSamplesPerMinute="10000"
  maximumSamplesStored="10000">
		<attributes enabled="true">
			<exclude>myApiKey.*</exclude>
			<include>myApiKey.foo</include>
		</attributes>
	</transactionEvents>
</configuration>